@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/orange-color-bg.png');
    background-size: cover;
    padding: 15px;

}

.movie-heading {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;



}

.button {
    color: #ff8348;
    width: 80px;
    font-size: 10px;

    border-radius: 8px;

}

.paragraph {
    color: #ffffff;
    font-size: 12px;
    margin-top: 8px;
}

.similar {
    font-size: 18px;
    color: #ffffff;
    font-family: "Roboto";

}

.img-margin {
    margin-right: 8px;
}

.margin-top {
    margin-top: 8px;
}