@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.heading {
    font-family: "Roboto";
    font-weight: bold;
    color: #2d3a35;

}

.p {
    font-family: "Roboto";
    color: #7b8794
}

.movie_title {
    height: 40px;
    padding: 15px;
    width: 250px;
    border-color: #cbd2d9;
}

.movie_title1 {
    border-color: #cbd2d9;
    padding: 10px;
}

.button_add {
    margin-left: 220px;
}

.movie {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.review {
    font-size: 16px;
    font-family: "Roboto";
}