@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: linear-gradient(to right, #f2ebfe, #dac0ff);

    font-family: "Roboto";
}

.speed-head {
    color: #690cb0;
    font-weight: 700;
    margin-bottom: 18px;
}

.speed-headpara {
    color: #3e4c59;
    margin-bottom: 25px;
    ;
}

.clock-img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.timer {
    font-size: 34px;
    font-weight: 500;
    color: #3e4c59;
}

.timer-span {
    margin-left: 5px;
    margin-top: 20px;
    font-size: 16px;
    color: #323f4b;
    font-weight: normal;
}

.speed-card {
    background-color: #f3eaff;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #9aa5b1;
    border-radius: 10px;
}

.spped-q-text {
    color: #323f4b;
    font-size: 22px;
}

.speed-result {
    color: #3e4c59;
    font-size: 400;
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.cus-submit-btn {
    background-color: #690cb0;
    color: white;
    margin-right: 25px;
    font-weight: 600;
}

.res-btn {
    font-weight: 600;
}

.spped-text-area {
    height: 100px;
    width: 260px;
}