@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.traffic_light_background_color {
    background-color: #86d2f2;
    height: 100vh;
}

.traffic_light_heading {
    color: #1f1d41;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 44px;

}

.traffic_light_box {
    background-color: #1f1d41;
    padding: 12px;
    height: 265px;
    border-radius: 40px;
}

.traffic_light_box_each_light {
    background-color: #4b5069;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding: 24px;
    margin: 10px;
}


.light_buttons {
    background-color: #1f1d41;
    color: white;
    font-family: "Roboto";
    border-style: none;
    border-radius: 10px;
    height: 36px;
    width: 64px;
    margin-bottom: 34px;
    font-size: 14px;

}