@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    font-family: "Roboto";
    padding: 20px;

    background-image: linear-gradient(to bottom, #b96fa1, #5a3f8c);
}

.curr-container {
    display: flex;
}

.cur-head {
    color: white;
}

.cur-head2 {
    font-size: 22px;
    font-weight: normal;
    color: white;
}

.cur-para {
    color: white;
    font-size: 16px;
}

.cur-img {
    width: 150px;
    height: 100px;
    align-self: center;
}

.cards-container {
    overflow-y: auto;
    background-color: #ffffff20;
    border: 2px solid #e9e9e930;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.card {
    display: flex;
    padding: 8px;
    justify-content: space-around;
    align-items: center;
}

.date {
    color: white;
    font-size: 14px;
}

.img {
    width: 50px;
}

.temp-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.temp {
    font-weight: bold;
    font-size: 14px;
    color: white;
    height: 0px;
}

.temp2 {
    color: white;
    font-size: 14px;
    height: 0px;
}

.w-condition {
    font-size: 16px;
    color: white;
}

.line {
    color: #e9e9e930;
}

@media screen and (min-width:990px) {
    .line {
        display: none;
    }

    .cards-container {
        display: flex;
        background-color: transparent;
        border: 0;
    }

    .card {
        flex-direction: column;
        padding: 40px;
    }

    .temp-container {
        flex-direction: row;
    }

    .temp {
        padding-right: 10px;
    }

    .cur-img {
        width: 250px;
        height: 150px;
    }

}