@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-conatiner {

    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-size: cover;

    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-sm-bg.png');
}

.bulb-img {
    max-height: 80px;
}

.info-container {
    background-color: #12022f;
    padding: 20px;

}

.main-head {
    color: white;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 21px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

.sub-info {
    display: flex;

}

.sub-img {
    align-self: start;
    margin-right: 20px;
    margin-top: 10px;
    max-height: 35px;
}

.sub-head {
    color: #12022f;
    font-family: "Roboto";
    font-size: 16px;
    align-self: flex-start;
}

.sub-para {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 13px;
}


@media screen and (min-width:768px) {
    .bg-conatiner {
        flex-direction: row;
        height: 100vh;
    }

    .img-container {
        width: 40vw;
        height: 100vh;
        background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/design-section-lg-bg.png');
    }

    .main-head {
        font-weight: bold;
        font-size: 32px;
    }
}